.message {
    background: none repeat scroll 0 0 #FAEBE7;
    border: 1px solid red;
    border-radius: 15px 15px 15px 15px;
    clear: both;
    color: #FF0000;
    font-size: 14px;
    margin: auto;
    padding: 5px;
    position: absolute;
    text-align: center;
    width:inherit;
    margin-top:38px;
}
#fdbk_tab{
	display:none;
}
.invite:hover ,.feedback:hover{
    margin-left: -3px;
}
.error_input_message {
    color: red;
    display: block;
    font-size: 11px;
    font-weight: normal !important;
    overflow: visible;
    vertical-align: top;
    width: 230px;
    text-align: left;
}
.login-button{
	cursor:pointer;
}
div.error-message {
    clear: both;
	text-align: left;
    color: #FF0000;
    font-size: 11px;
    height: 14px;
    margin: 0px;
    width: 320px;
}
label.error{ 
    clear: both;
    color: red;
    display: block;
    float: none;
    font-size: 10px;
    font-weight: normal !important;
    vertical-align: top; 
    width:250px;
    font-family:Arial regular,Sans-serif;
}
.success {
    background: none repeat scroll 0 0 #EFF5EA;
    border: 1px solid #446423;
    clear: both;
    color: #4AA02C;
    height: 20px;
    margin: auto;
    padding: 5px;
    text-align: center;
    position:absolute;
    width:inherit;
    -moz-border-radius: 15px;
	border-radius: 15px;
	margin-top:38px;
}

div.paging a.current {
	color: #c73e14;
	font-weight:normal;
}
li.current {
	color: #9D9DA0;
	font-weight:normal;
	font-size: 14.5px;
}
.warning {
    background: url("../img/message-warn.png") no-repeat scroll 10px 4px lightyellow;
    border: 1px solid #446423;
    clear: both;
    color: #4AA02C;
    height: 22px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    position:absolute;
    width:inherit;
    -moz-border-radius: 15px;
	border-radius: 15px;
	margin-top:38px;
}
label.contact-error { color: red; display: block; float: left; font-family: Arial regular,Sans-serif; font-size: 10px;
font-weight: normal !important; vertical-align: top; width: 206px;}
.job-right-text p a {text-decoration:underline;}
.job-right-heading a{text-decoration:none;}
.job-right-heading a:hover,.job-right-heading a:active{text-decoration:underline;}
.job_right_pagination ul li.current{color: #9D9DA0;font-size: 14px;font-weight: normal;}
.networkers-message{padding-top: 30px;text-align: center;}
.inviation-message{text-align: center;margin-top:40px; font-size:16px;width:680px;}
/*-------- css for edit profile */
.edit-profile-text-box { height: auto; width: 460px;margin-top:4px;}
.edit-profile-text-box select{float:right;width:290px;}
.edit-profile-text-box input {
    background: url("../images/text-box.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #302D2D;
    font: 13px/30px Arial,Helvetica,sans-serif;
    height: 29px;
    outline: medium none;
    padding: 0 10px 0 10px;
    width: 269px;
    float:right;
}
.save-profile-button {
    background: url("../images/bttn_sprite.png") no-repeat scroll 0 0 transparent;
    height: 62px;
    margin-left: 116px;
    width: 207px;
}
.save-profile-button input {background:url(../images/bttn_sprite.png) no-repeat -11px -80px;cursor: pointer; margin: 10px 0 0 11px;height: 36px; width: 181px; border:none; font:20px 'OpenSansCondensedBold'; color:#fff; *margin-left: -105px;}
.save-profile-button input:hover {background:url(../images/bttn_sprite.png) no-repeat -11px -121px;}
.save-profile-button input:active {background:url(../images/bttn_sprite.png) no-repeat -11px -165px;}
.edit-profile-clear-all {font:15px Arial, Helvetica, sans-serif; margin:34px 0 0 185px;}
.edit-profile-clear-all label {text-decoration:underline; position:relative;color:#50A947;cursor:pointer;}
/*------- End css for edit profile */


/* ------ css for jobseeker settings --------*/

.jobseeker_select__i_s{
    background-color: #FDFDFD;
    border: 1px solid #000000;
    width: 200px;
	height: 68px;
}
.jobseeker_select{
    height: 23px;
    width: 196px;
	margin-left: 27px;
}
.industry-specification-1{height:150px;width:600px;}
.industries-select{float:left;height:14px;}
.jobseeker_settings_state select {margin-left:35px;}
.jobseeker_settings_salary {margin-top:20px !important;}
.jobseeker_settings_salary input {margin-left:5px;}
.jobseeker_settings_notification{margin-top:20px;}
.jobseeker_settings_notification p{margin-bottom:10px;}
/* ------ End css for jobseeker settings --------*/

/* ------ css for jobseeker job profile --------*/
.job_profile_form{ height: auto; margin: 15px 0 0;width:700px;}
.job_profile_form_row{height: auto;margin: 15px 0 0;width: 685px;}
.job_profile_form_text{color: #1D1D1D;float: left;font: 15px Arial,Helvetica,sans-serif;height: 20px;text-align: right;width: 340px;}
.job_profile_form_buttn_row .left_bttn {float: left;height: auto;margin-left: 130px;width: 207px;}
.job_profile_form_buttn_row {
    height: auto;
    margin: 50px auto 0;
    width: 450px;
}
.job_profile_form_buttn_row .uploadresume_bttn {
	width:207px;
	height:62px;
	background:url(../images/bttn_sprite.png) no-repeat 0 0px;
}
.job_profile_form_buttn_row .uploadresume_bttn input {
	width:181px;
	height:36px;
	border:none;
	background:url(../images/bttn_sprite.png) no-repeat -11px -80px;
	margin:10px 0 0 11px;
	color:#FFF ;
	text-shadow: 1px 1px 1px #444343; 
	text-decoration:none; 
	font-family: "OpenSansCondensedBold";font-size: 20px;
	cursor:pointer;
}
.job_profile_form_buttn_row .uploadresume_bttn input:hover {background:url(../images/bttn_sprite.png) no-repeat -11px -121px;}
.job_profile_form_buttn_row .uploadresume_bttn input:active { background:url(../images/bttn_sprite.png) no-repeat -11px -165px;}
.job_profile_browse_field{float: left;margin: 0 0 0 15px;width: 116px;}
.upload_resume{font-size:13px;}

/* ------ End for jobseeker job profile --------*/

/* ------ css for jobseeker invitations --------*/
.light ul li{background:#ffffff;}
.dark ul li {background-color: #F6F1E2;}

/* ------ End for jobseeker invitations --------*/


/* *********************  ********************** ********************** */
/* ------ css for networker data --------*/
.job-data div {
    font: 14px Arial,Helvetica,sans-serif;
    width: 260px;
}
.job-data div div{
	width:150px;
	float:right;
}
/* ------ End for networker data --------*/




/* *********************  ********************** ********************** */
/* ------ Company Payment Info --------*/
.cc_expiray_date{
	float: left;
}
.cc_exp_month{
    float: left !important;
    margin-left: 90px !important;
    width: 140px !important;
}
.cc_exp_yr{
    float: left !important;
    margin-left: 8px !important;
    width: 140px !important;
}

.edit-profile-text-box input {
    background: url("../images/text-box.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #302D2D;
    font: 13px/30px Arial,Helvetica,sans-serif;
    height: 29px;
    outline: medium none;
}

.cc_address{
    float: right;
    background: url("../images/textarea.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #302D2D;
    font: 13px/30px Arial,Helvetica,sans-serif;
    height: 56px;
    outline: medium none;
    padding: 0 5px 0 10px;
    width: 274px;
	resize:none;
}
/************************************** ************************/
.job-empty-message{ text-align:center;margin-top:40px;}
/*********************Css for payments detail popup dialog ***********************/
.payment_popup_cancel_bttn {
	width:72px;
	height:72px;
	background:url(../images/popup_cancel_bttn.png) no-repeat;
	position:absolute;
	right:-20px;
	top:-15px;
}
.payment_popup_cancel_bttn a {
	width:50px;
	height:50px;
	display:block;
	margin:7px 0 0 8px;
}
.company-recruiter-check-box{margin:31px 0 0 323px; width:166px; }
.dont-know{ width:316px !important;}
.networker-link-width {width: 240px !important;}
.forgot-password {width: 129px !important;}
.job_apply_buttn {margin: 50px auto 0 380px !important;}
.sub-title-ty{width:auto !important;}
.job_right_section_left h2 span{color:#4FA34B;}
/*-------------------- css for jobseeker invitations ----------------------*/
.job-sort-by {
    background: none  !important;
    border-bottom: 1px solid #D6D2CC;
    height: 26px;
    margin: 0 !important;
    padding: 10px 0 0 0px !important;
    width: 682px !important;
}
.invitaion_right_pagination div {
    float: left !important;
}
.invitaion_pagination {
    width: 520px !important;
}
.invitation-table-name {width:278px; height:30px;}
/*-------------------- End for jobseeker invitations ----------------------*/



/*:::::::::::::Data - page css start :::::::*/
.data_table { height:29px; width:360px; margin-top:25px;}
.data_table ul {height:29px; width:360px;}
.data_table ul li {list-style:none; text-transform:uppercase; float:left; width:85px; font:15px Arial, Helvetica, sans-serif; padding-left:5px;}
.data_table_font {font-family:'OpenSansCondensedBold' !important;width: 90px !important; padding-left:0 !important;}
.data_h2_margin h2{ margin-bottom:20px;}



.job_left_bar a{
	outline:none;
}

.email_popup {
	height: 328px;
    margin: 20px 20px 0;
    overflow: auto;
    width: 555px !important;
}
#gmailContacts {
    height: 462px !important;
    overflow: hidden !important;
    padding-top: 43px;
}
#gmailContacts input {
    margin-left: 20px;
    margin-right: 15px;
}
.gmail-submit {
   background: url("../images/bttn_sprite.png") no-repeat scroll -11px -80px transparent;
   border: medium none;
   color: #FFFFFF;
   cursor: pointer;
   float: right;
   font: 20px 'OpenSansCondensedBold';
   height: 36px;
   margin: 10px 0 0 11px;
   width: 182px;
}
.gmail-content {
    height: auto;
    width: 575px;
}
.gmail_popup_cancel_bttn{
    height: 1px;
    position: relative;
    width: 575px;
}
.gmail-share-content {
    background: none repeat scroll 0 0 #F6F1E2;
    margin: 0 auto;
    width: 575px;
    max-height:450px;
    min-height:80px;
}
/*---------------- Edit gmail contacts  ********************/
.gmail-edit-content {
    background: none repeat scroll 0 0 #F6F1E2;
    height: 195px;
    margin: 0 auto;
    width: 575px;
}
#editContacts{
    height: 462px !important;
    overflow: hidden !important;
    padding-top: 43px;
}
.edit_contact_popup {
    height: 342px;
    margin-top: 10px;
    overflow-y: scroll;
    width: 575px;
}
.edit_contect_box{
	margin-top:10px;    
}
.edit_conact_button{
	clear:both;margin: 7px 23px;
}
.edit_contact_popup_box {
    height: 346px;
    margin-top: 10px;
    overflow: hidden;
    width: 575px;
}
/*-------------------- Linked in user selection --------------**/
.text_field {
    float: left;
    width: 420px;
}
.text_field_bg {
    border: 1px solid;
    float: right;
    width: 200px;
}
.network_popup_row {
	width:420px;
	height:auto;
	margin-top:8px;
}
.network_popup_row input {
	width:274px;
	height:29px;
	background:url(../images/text-box.png) no-repeat;
	border:none;
	font:13px Arial, Helvetica, sans-serif;
	color:#1B1915;
	padding:0 5px 0 10px;
	line-height:30px;
	outline:none;
}
.network_popup_row select {
	float:right;
	width:289px;
}
.network_university_popup_cancel_bttn {
    height: 1px;
    position: relative;
}
.network_popup_cancel_bttn {
    background: url("../images/popup_cancel_bttn.png") no-repeat scroll 0 0 transparent;
    height: 72px;
    overflow: hidden;
    position: absolute;
    right: -59px;
    top: -44px;
    width: 72px;
}
.networker_popup_inner_content{
	background: url("../images/about_popup_bg.png") repeat scroll 0 0 transparent;
    margin: 10px;
    padding: 25px;
    height:180px;
}
.network_popup_cancel_bttn a {
    display: block;
    height: 50px;
    margin: 7px 0 0 8px;
    width: 50px;
}
.networker-popup-submit{
    background: url("../images/bttn_sprite.png") no-repeat scroll -11px -80px transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 20px 'OpenSansCondensedBold';
    height: 36px;
    margin: 10px 0 0 11px;
    width: 80px;
}
/***---------------------------------------------****/
.api_user_selection{
	width:300px;
	margin-left:220px;
	float:left;
	cursor:pointer;
}
.api_jobseeker_selection2{
	width:300px;
	float:left;
	cursor:pointer;
}
.api_button_networker{
    background: url("../images/buttons.png") no-repeat scroll -636px 0 transparent;
    height: 62px;
    padding: 9px 0 0 10px;
    text-align: center;
    width: 207px;

}
.api_button_jobseeker {
    background: url("../images/buttons.png") no-repeat scroll -425px 0 transparent;
    height: 62px;
    padding: 9px 0 0 9px;
    text-align: center;
    width: 200px;
}
.api_button_jobseeker:hover {background:url(../images/buttons.png) -425px -74px no-repeat;}
.api_button_jobseeker:active {background:url(../images/buttons.png) -425px -149px no-repeat;width:207px; height:62px;  padding: 9px 0 0 9px;}

.api_button_jobseeker a, .api_button_networker a{display:block; color:#FFF ;text-shadow: 1px 1px 1px #444343; text-decoration:none; font-family: "OpenSansCondensedBold";font-size: 20px; height: 39px; width: 184px;line-height: 40px;}

.api_button_networker:hover {background:url(../images/buttons.png) -637px -74px no-repeat;}
.api_button_networker:active {background:url(../images/buttons.png) -637px -149px no-repeat;width:207px; height:62px; padding: 9px 0 0 10px; text-align:center; }
    

/***********************************************/

#specification_loader{float:left;}
.setting_specification{float:left;}
.networker_select_city{float:left;}
#city_loader{float:left;}

.dont_know_company{margin:-10px auto 0; text-decoration:underline; color:#3a9031;text-align:center; height:17px; font-size: 15px;}
.dont_know_company a {
    color: #3A9031;
    text-decoration: underline;
}

/***************** css for jobseeker settings. ************************/
.industry-specification-1 {
    height: 120px;
    width: 620px;
}

.text {
    color: #382F2B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin: 25px 0;
}
.invitation-table-subheading ul li {
    line-height: 30px !important;
}
.jobseeker_setting_button {
    background: url("../images/bttn_sprite.png") no-repeat scroll 0 0 transparent;
    height: 62px;
    margin-left: -10px;
    margin-top: 35px;
    padding: 0;
    width: 207px;
}

.jobseeker_setting_button input{
	background: url("../images/bttn_sprite.png") no-repeat scroll -11px -80px transparent;
    border: medium none;
    color: #FFFFFF;
    font-family: "OpenSansCondensedBold";
    font-size: 20px;
    height: 36px;
    margin: 10px 0 0 11px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444343;
    width: 181px;
    cursor:pointer;
}
.jobseeeker_seeting_name input {
    background: url("../images/text-box-small.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #302D2D;
    font: 13px/30px Arial,Helvetica,sans-serif;
    height: 29px;
    outline: medium none;
    padding: 0 5px 0 10px;
    width: 172px;
}
.multiple_select_box{width:320px !important;margin-left:5px;}
.multiple_select{width:300px !important;margin-left:5px;}
.jobseeeker_seeting_name label{margin-right:5px;}
.jobseeker-settings{font: 15px Arial,Helvetica,sans-serif;height: 141px;margin: 33px 0 0 26px;width: 620px;}
.industries-select-right{margin-left:10px;}
.contacts-sort-by div {float:left !important;padding-left:24px;}
.job_right_section_left h2{color:#4FA34B !important;}

/***************** css for networker sign up *****************************/
.networker_right_invitaion_pagination {
    float: left;
    height: auto;
    width:358px !important;
}
.networker_right_invitaion_pagination div {float:right;}
.networker_right_invitaion_pagination a { float:left; text-decoration:none; color:#1d1d1d; font:normal 15px Arial, Helvetica, sans-serif;}
.networker_right_invitaion_pagination ul {margin:0; padding:0; float:left;}
.networker_right_invitaion_pagination ul li {list-style:none; display:block; margin:2px 0; padding:0 5px; border-left:solid 1px #000; float:left; width:16px; text-align:center;}
.networker_right_invitaion_pagination ul li a { text-decoration:none; font:normal 15px Arial, Helvetica, sans-serif; color:#1d1d1d; width:16px;}
.networker_right_invitaion_pagination ul li a:hover, .job_right_pagination ul li a:active {font-weight:bold; text-decoration:underline;} 
.networker_right_invitaion_pagination ul li:first-child {border:none;}
.networker_invitaion_next_bttn {
    background: url("../images/job_prev_next_bttn.png") no-repeat scroll -41px -6px transparent;
    float: left;
    height: 28px;
    width: 28px;
}
.networker_invitaion_preview_bttn {
    background: url("../images/job_prev_next_bttn.png") no-repeat scroll -6px -6px transparent;
    float: left;
    height: 28px;
    width: 28px;
}

/************** css for login and sign up using fb, li ********/
.login_middle_main {
    width:600px;
    height:auto;
    margin:0 auto;
}
.login_middle_left_box  {
    width:289px;
    height:auto;
    float:left;
}
.login_middle_center_box {
    width:30px;
    height:auto;
    float:left;
    margin:60px 20px 0 40px;
}
.login_middle_right_box {
    width:200px;
    height:auto;
    float:right;
    margin-top:30px;
}
.login_middle_right_box ul {
    margin:0;
    padding:0;
}

.login_middle_right_box ul li {
    list-style: none;
    display:block;
    float:left;
    margin:0 10px;
}
.login_middle_right_box ul li a {
    text-decoration:none;
}
.signup_middle_topallign {
    margin-left:0 !important;
}
.signup_middle_allign {
    margin-right:0 !important;
    margin-left:0 !important;
	position:relative;
}
.signup_middle_allign_send_request {
    margin-right:0 !important;
    margin-left:40px !important;;
}
.signup_or_txt_box {
    margin-top:248px !important;
}
.signup_social_box {
    margin-top:185px !important;
}
.nr_signup_or_txt_box{margin-top: 152px !important;}
.nr_signup_social_box {margin-top: 100px !important;}
.signup_social_box_txt {
    width:222px;
    overflow:visible;
    height:auto;
    font:normal 15px Arial, Helvetica, sans-serif;
    color:#1d1d1d;
    margin:0 0 10px 12px;
    line-height:20px;
}
.js_middle_center_box{
float: left;
    height: auto;
    margin: 101px 20px 0 40px;
    width: 30px;
}

.js_middle_right_box{float: right;
    height: auto;
    margin-top: 70px;
    width: 200px;
}
.js_middle_right_box ul {
    margin:0;
    padding:0;
}

.js_middle_right_box ul li {
    list-style: none;
    display:block;
    float:left;
    margin:0 10px;
}
.js_middle_right_box ul li a {
    text-decoration:none;
}
.networker_invitaion_preview_bttn a {
    display: block;
    height: 25px;
    width: 25px;
}
.networker_invitaion_next_bttn a {
    display: block;
    height: 25px;
    width: 25px;
}
.networker_invitaion_next_bttn a:hover {background:url(../images/job_prev_next_bttn.png) no-repeat -41px -45px;}
.networker_invitaion_next_bttn a:active {background:url(../images/job_prev_next_bttn.png) no-repeat -41px -86px;}
.networker_invitaion_preview_bttn a:hover {background:url(../images/job_prev_next_bttn.png) no-repeat -6px -45px;}
.networker_invitaion_preview_bttn a:active {background:url(../images/job_prev_next_bttn.png) no-repeat -6px -86px;}
.profile-text{margin:5px;}
.job-save-setting input{margin-left:11px !important;}
.employee_date_row{text-align:center;}
employee_contact_row{width:115px !important;}
/* for slider */
.salary_range_slider{
    border: medium none;
    color: #F6931F;
    font-weight: bold;
    width: 42px;
    margin-bottom: 5px;
}
.salary_range_seperator{
    color: #F6931F;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 7px;
}

.job_salary_txt_row .job_salary_txt1 {
	width:50px!important;
	height:20px;
	float:left;
	color: #4FA34B;
	background:transparent;
	border:none;
}


.job_salary_txt_row .job_salary_txt2 {
	width:50px !important;
	height:20px;
	float:left;
	color: #4FA34B;
	background:transparent;
	border:none;
}

#slider-range{
	width:170px;
	margin:auto;
	height:7px;
}
.h2_float { float:left;}
.company-recruiter-radio{width:168px;overflow:visible;}
.company-recruiter-radio input {
	margin-right: 15px !important;
	width: 4px;
	height: 16px;
	padding: 0;
	margin: 0 !important;
}
.company-recruiter-radio-input {
	width: 18px !important;
	float: left;
	height: 14px;
}
.empty_concats_msg{
    background: none repeat scroll 0 0 #FAF8CC;
    border: 1px solid #446423;
    clear: both;
    color: #4AA02C;
    font-weight: bold;
    height: 20px;
    margin: 3px;
    padding: 5px;
    text-align: center;
}

/************* css for change password ************/
.sub-title-forgot-password {
    font-size: 15px;
    height: 35px;
    margin: 44px auto 0;
    width: 316px;
}
.copmany_select_box{
width:190px;
float:left;

}
/*********** css for post job ***************/
.company_select{
width:509px !important;
}
.copmany_select_box label{
	
margin-left:5px;
}
.job_salary{
overflow:hidden;
}
.upload_cover_letter{
	margin-left:484px;
	margin-top:5px;

}
/*********** css for networker personal data ***************/
.job-table-data ul li {list-style:none; float:left; border-bottom: 1px solid #D6D2CC;}
.job-table-data { font:15px Arial, Helvetica, sans-serif;}
.job-data-name {
    height: 48px;
    padding-left: 25px;
    width: 355px;
}
.job-data-netw {
    height: 48px;
    width: 90px;
}
.job-data-degree {
    height: 48px;
    width: 65px;
}
.job-data-points{
    height: 48px;
    width: 45px;
}
.job-data-reward{
    height: 48px;
    width: 57px;
	text-align:right;
}
.job-data-level {
    height: 48px;
    padding-left: 28px;
    width: 45px;
}
.job-right-bottom-right ul:nth-child(odd)
{
background:#ff0000;
}
.sub_netwokres_data {
    height: 410px;
    /*overflow-x: scroll;*/
}
.title-home{
font-size:26px !important;
}
.no_friend_found{
	text-align:center;
	display:none;
	margin-top:30px;
}
.serach_box {
	width:289px;
	height:auto;
	margin:5px auto 5px;
}
.serach_box input {
	width:274px;
	height:20px;
	background:url(../images/text_field1_240x20.png) no-repeat;
	border:none;
	font:13px Arial, Helvetica, sans-serif;
	color:#847a6c;
	padding:0 5px 0 10px;
	line-height:30px;
	outline:none;
}
.post_later_jobs{
	background-color:rgba(235, 212, 196, 0.41) !important;
}
/*********** Css for radio buttons. ********************/
div.ez-radio {
padding:2px 5px 5px 5px;}
ez-selected {padding-top:1px !important;}
.cross-button input {
   height: 22px;
   width: 24px;
}
.ez-hide {
    opacity: 0;
    -moz-appearance: none;
    filter:alpha(opacity=0);
}
.ez-checkbox {
   background: url("../images/checkbox-button-edited.png") no-repeat scroll 0 1px transparent;
   display: inline-table;
}
.ez-radio {
   background: url("../images/radio-black.png") no-repeat scroll 0 -3px transparent;
   display: -moz-grid;
}
.ez-checked {
    background: url("../images/checkbox-button-edited.png") repeat scroll 0 147px transparent !important;
}
.ez-selected {
   background-position: 0 -25px;
}
.ez-checkbox-green {
    background: url("../images/checkbox-button-edited.png") repeat scroll -1px -3px transparent;
    display: block;
    height: 34px;
    width: 34px;
} 
.ez-radio {
}
div.ez-radio {
	padding: 5px;
	height: auto;
	width: 25px !important;
	display: inline-table;
}
.ez-checkbox-green input {
	width:22px !important; 
	height:25px !important;
	padding:0 !important;
	margin-left:8px;
}
/************ Css for post and share button ******************************/
.post_and_share_left_search_row {
    height: auto;
    width: 222px;
}
.post_and_share {
	width:210px;
	background:url(../images/left_bar_menu_bg.png) no-repeat 0 -90px;
	height:53px;
	margin:10px auto 0;
	padding:9px 0 0 0;
}
.post_and_share a {
	width:184px;
	height:39px;
	display:block;
	font:bold 20px "OpenSansCondensedBold";
	text-align:center;
	text-shadow: 1px 1px 1px #444343;
	color:#fff;
	text-decoration:none;
	line-height:40px;
	margin:0 0 0 15px;
}
.post_and_share a:hover {
	background:url(../images/left_bar_menu_bg.png) no-repeat -14px -159px;
}
.post_and_share a:active {
	background:url(../images/left_bar_menu_bg.png) no-repeat -14px -205px;
}

/************** css for invite pop up ************************/

#close_message_dialog {
    background: url("../images/Buttons_find_clear.png") no-repeat scroll -12px -56px transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font: 15px 'OpenSansCondensedBold';
    height: 22px;
    margin: 11px 0 0 11px;
    padding: 0;
    width: 52px;
}
.mesaage-dialog-div{ background:url(../images/Buttons_find_clear.png) 0 0 no-repeat;
    height: 50px;
	margin-top:40px;    
    width: 77px; float:right;
}
.date_expire{
	margin-left: 169px;
    width: 290px !important;
}
.application_cover_letter{
	margin-top:25px !important;
}
